.card-video { 
   width: 100%; 
   height: 25%;
}
.container-video {
    top: 100px;
}
.container-relacionado {
    width: 100%;
}
.container-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 5rem;
}
.title-rel {
    width: 250px;
    bottom: 50px;
}