* {
    box-sizing: border-box;
}
body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-image: url(../img/tv.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    height: max-content;
    margin: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 0;
}
.formulario {
    width: 100%;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container-form {
    width:50%;
    padding: 10px;
    margin:auto;
    right: 0;
    left: 0;
    position: absolute;
    align-content: center;   
}    
.grupo {
   display: flex;
   flex-direction: column;
   margin-bottom: .5rem;
   font-size: 18px;
   font-family: Arial, Helvetica, sans-serif; 
   
}
.accion {
    padding-top: 1rem;
    text-align: center;
}
.boton {
    padding: 1rem 2rem;
    background-color: chocolate;
    color: white;
    font-size: larger;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    border: 1rem;
    border-radius: 2rem;
}
.option {
    font-size: small;
    text-align: center;
    margin-left: 0;
    
}
.title {
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   font-size: 36px;
   font-weight: bolder;
   text-align: center;
}
.subtitle {
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   font-size: 20px;
   font-weight: 400;
   text-align: center;
   
}
