* {
    box-sizing: border-box;
}
body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-image: url(../img/login.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 100vh;
    margin: 0;
}

#bg-img {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 0;
}